/* 
    Document   : site_web_css
    Created on : 17 march 2012, 20:26:49
    Author     : mkab
    Description:
        Purpose of the stylesheet follows. 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*#logo #title a {
    margin: 0px;
    padding: 0px;
    color: #FEFEFE;
    text-decoration: none;
}*/
/*#title a:hover {
    margin: 0px;
    padding: 0px;
    color: rgb(188, 51, 16);
    text-shadow: -1px 1px #CCCCCC;
}*/

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
        url('polices/ballpark.woff') format('woff'),
        url('polices/ballpark.ttf') format('truetype'),
        url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
        url('polices/dayrom.woff') format('woff'),
        url('polices/dayrom.ttf') format('truetype'),
        url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    background-image: url('../images/lgreybackground.jpg');
}

section h1, footer h1 {
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

section {
    position: relative;
/*    height: 900px;*/
}

optgroup {
    background-color: darkgray;
}

/*      HEADERS     */
#header-container{
    background-color:#FF8C40;
    height:130px;
    border-bottom:20px solid #e44d26;
    margin-bottom:50px;
    -webkit-box-shadow:0 40px 40px -40px #AAA;
    -moz-box-shadow:0 40px 40px -40px #AAA;
    box-shadow:0 40px 40px -40px #AAA;
    height: 120px;
    background-image: url(../images/header-bg.png);
    background-repeat: repeat-x;
    background-position: center;
    box-shadow: 0 45px 60px -50px #000000;
}

#logo #title a {
    margin: 0px;
    padding: 0px;
    color: #FEFEFE;
    text-decoration: none;
}

#title{
    font-weight:900;
    width: 120px;
    height: 40px;
    float: left;
    font-size: xx-large;
    color: #FFFFFF;
    font-variant: small-caps;
    text-transform: uppercase;
    padding-top: 58px;
    margin-left: 92px;
    text-shadow: 2px 2px 2px #FF8C40;
    filter: dropshadow(color=#FF8C40, offx=2, offy=2);
}

#title a:hover {
    margin: 0px;
    padding: 0px;
    color: rgb(188, 51, 16);
    text-shadow: -1px 1px #CCCCCC;
}

header nav{
    float:right;
    margin-top:103px;
}

header nav ul li{
    display:inline;
}

/* Corps */

article {
    display: inline-block;
    vertical-align: top;
}

article {
    width: 625px;
    margin-right: 15px;
}

article p {
    font-size: 0.8em;
}

article li {
    list-style-type: none;
}

article li a {
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
    text-decoration-color: slateblue;
}
aside {
    clear: both;
    /*    position: relative;*/
    width: 235px;
    /*    background-color: #706b64;*/
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
    float: right;
}

/* Footer */

footer
{
    background:  url('images/ico_top.png') no-repeat top center, 
        url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;
    padding-top: 25px;
    clear: both;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}

#tweet, #mes_photos, #mes_amis
{
    display: inline-block;
    vertical-align: top;
}

#tweet
{
    width: 28%;
}
#mes_photos
{
    width: 35%;
}

#mes_amis
{
    width: 31%;
}

#mes_photos img
{
    border: 1px solid #181818;
    margin-right: 2px;
}

#mes_amis ul
{
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    width: 48%;
    list-style-image: url('images/ico_liensexterne.png');
    padding-left: 2px;
}

#mes_amis a
{
    text-decoration: none;
    color: #760001;
}


/* Othe Classes */
.pul {
    border-top: 1px solid #a8340a;
    background: #872907;
    background: -webkit-gradient(linear, left top, left bottom, from(#f24a0c), to(#872907));
    background: -webkit-linear-gradient(top, #f24a0c, #872907);
    background: -moz-linear-gradient(top, #f24a0c, #872907);
    background: -ms-linear-gradient(top, #f24a0c, #872907);
    background: -o-linear-gradient(top, #f24a0c, #872907);
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    float: right;
    height: 25px;
    width: 75px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    line-height: normal;
    text-align: center;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
}
.pul:hover {
    border-top-color: #f24a0c;
    background: -webkit-gradient(linear, left top, left bottom, from(#f24a0c), to(#872907));
    background: -webkit-linear-gradient(top, #f24a0c, #872907);
    background: -moz-linear-gradient(top, #f24a0c, #872907);
    background: -ms-linear-gradient(top, #f24a0c, #872907);
    background: -o-linear-gradient(top, #f24a0c, #872907);
    color: #ccc;
    background: #872907;
    -moz-box-shadow:0px 0px 4px #000000;
    -webkit-box-shadow:0px 0px 4px #000000;
    box-shadow:0px 0px 4px #000000;
    line-height: normal;
    float: right;
    height: 25px;
    width: 75px;
    text-align: center;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
}
.pul:active {
    border-top-color: #f24a0c;
    background: #f24a0c;
    line-height: normal;
    float: right;
    height: 25px;
    width: 75px;
    text-align: center;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
}

.wrapper{
    margin:auto;
    width:90%;
}


/* Javascript CSS */

.form_col {
    display: inline-block;
    margin-right: 15px;
    padding: 3px 0px;
    width: 200px;
    min-height: 1px;
    text-align: right;
    vertical-align: top;
}

input {
    padding: 2px;
    border: 1px solid #CCC;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    outline: none; /* Retire la bordure orange appliquée par certains navigateurs (Chrome notamment) lors du focus des éléments <input> */
}

input:focus {
    border-color: rgba(82, 168, 236, 0.75);
    -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
    -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}

.correct {
    border-color: rgba(68, 191, 68, 0.75);
}

.correct:focus {
    border-color: rgba(68, 191, 68, 0.75);
    -moz-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
    -webkit-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
    box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}

.incorrect {
    border-color: rgba(191, 68, 68, 0.75);
}

.incorrect:focus {
    border-color: rgba(191, 68, 68, 0.75);
    -moz-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
    -webkit-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
    box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}

.tooltip {
    display: inline-block;
    margin-left: 20px;
    padding: 2px 4px;
    border: 1px solid #555;
    color: red;
    background-color: silver;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

/*My stuffs*/
fieldset {
    background-color: ivory;
    border-radius: 15px;
    width: 850px;
}

.input_form, .correct, .incorrect {
    border-radius: 5px;
    height: 25px;
    width: 200px;
}

.error {
    color: red;
}

.logdelog {
    float: right;
    margin-left: 5px;
}

/*.clear {
    clear: both;
}*/